.paginado {
    position: relative;
   align-content: center;
   margin-top: 110px;
   margin-bottom: 60px;
   opacity: 0;

}

.numeros{
    position: relative;
    align-content: center;
    margin: 0 auto;
}

.numeros li:hover{
transform: scale(1.3);
    cursor: pointer;
}

ul li{
    display: inline;
    margin-right: 50px;
    font-size: x-large;
    color: black;
}

.numerin{
    color: black;
}

.aparece{
    opacity: 1;
    transition: 6s;
    transform: translateY(-50px);
}