.div {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.detalle{
    position: relative;
    display: flex;
    width: 75%;
    height: 100%;
    background-color:rgba(141, 184, 229, 0.802);
    border-radius: 15px;
    box-shadow: 0 10px 10px #000;
    flex-wrap: wrap;
    margin-top: 188px;
    margin-bottom: 200px;
}

.containerImg{
    position: relative;
    margin-left: 40px;
    width: 40%;
    margin-top: 40px;
    height: 500px;
    border: none;
    border-radius: 5%;
    overflow: hidden;
}

.containerDer{
    display: inline-block;
    position: relative;
    width: 52%;
    margin-top: 0px;
    margin-left: 30px;
}
.containerNombre{
    width: 100%;
    font-size: xx-large;
}


.containerSubtitulo{
    display: flex;
    position: relative;
    text-align: left;
    padding-left: 40px;
    font-size: 21px;
}

.containerSaludable{
    display: flex;
    position: relative;
    text-align: left;
    padding-left: 40px;
    font-size: 21px;
}
.containerDieta{
    display: flex;
    position: relative;
    text-align: left;
    padding-left: 40px;
    font-size: 21px;
}

.containerResumen{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 21px;
}
.containerInstrucciones{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}
.nombre{
    color: white;
}

.h2{
    color: red;
    
}

.span {
    color:white
}



.containerImg img{
    width: 100%;
    height: 100%;
    border: none;
}

.divPasos{
    position: relative;
    display: flex;
    display: block;
    justify-content: center;
    text-align: center;
}
.divPaso{
    position: relative;
    display: block;
    width: 100%; 
    margin-bottom: 90px;
}

.spanNum{
    background-color: red;
    height: 70px;
    width: 70px;
    color: #000;
    border: solid 3px;
    font-size: x-large;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
}
.spanNum p{
    margin-top: 18px;
}


.instruccion{
    position: relative;
    width: 90%;
    font-size: xx-large;
    margin-left: 110px;
    text-align: left;
}

